.main{
	flex: 1 1 auto;
}

.wrapper{
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.body{
	height: 100%;
}
	
.list li{
	list-style: none;
	background: url(../icons/icon.png) left no-repeat;
	padding-left: 35px;
}

.image{
	margin-left: 300px;
margin-top: 20px;
}

.list{
color:white;
padding-left: 30px;
font-size: 25px;
line-height: 30px;
}

.title{
	font-size: 40px;
	color:white;
}

.container{
	display: flex;
	flex: 1 1 auto;
	background-color:#445162;
	width: auto;
	height: 250px;
}

.what{
	display: flex;
	flex:1 1 auto;
	flex-direction: row;
}

.what_body{
	flex:1 1 auto;
	flex-wrap: nowrap;
	margin-left: 38px;
}

.what_title{
	font-size: 30px;
	margin-bottom: 33px;
}

.what_row{
	display: flex;
}

.what_text p{
	margin-bottom: 38px;
}

.columns_title{
	text-align: center;
	font-size: 40px;
	margin-bottom: 30px;
	margin-top: 30px;
}

.columns_row{
	display:flex;
	flex-wrap: wrap;
}

.columns_column{
	flex: 0 1 50%;
	padding-top: 30px;
}

.item_row{
display: flex;
}

.item_image{
	flex: 0 0 200px;
}

.item_body{
	flex: 1 1 auto;
	padding-left: 15px;
}

.columns{
	background-color: #f5f5f5;
}

.item_text{
	font-size: 16px;
}

.item_title{
	font-size: 24px;
	line-height: 30px;
	margin-bottom: 13px;
}

.columns_row{
	display:flex;
	flex-wrap: wrap;
}

.vertical{
	padding-top: 50px;
	;
}

.vertical_title{
	text-align: center;
	padding-bottom: 30px;
	font-size: 40px;
}

.vertical_row{
	display: flex;
	margin: 0 -22.5px;
	justify-content: center;
}

.vertical_column{
	flex:0 1 20%;
	margin-right: 30px;
	padding: 0 22.5px;
	display: flex;
}

.vertical_subtitle{
	text-align: center;
	color: white;
	text-transform: uppercase;
	font-size: 24px;
	padding-bottom: 12px;
}

.vertical_label{
	text-align: center;
	color:#445162;
	background-color: white;
	margin: 12px 0;
	line-height: 40px;
}

.vertical_text{
	color: white;
	margin: 10px;
	flex: 1 1 auto;
}

.vertical_item{
	background-color:#445162;
	border: 5px solid #445162;
	border-radius: 5px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
}

.vertical_btn{
	display: flex;
	background-color: white;
	border-radius: 5%;
	color: #445162;
	margin: 15px;
	line-height: 40px;
	font-size: 20px;
	justify-content: center;
}

.footer{
	text-align: center;
	font-size: 20px;
}