

.header {
  display: grid;
}

.header_title {
  font-size: 14px;
  color: #cccc;
  margin-bottom: 0px;
}

.header_container {
  width: 1440px;
  height: 650px;
  background-image: url(../img/Rectangle\ 1.png);
  position: relative;
  text-align: right;
}

.header_cube {
  margin-right: 1130px;
  padding-left: 50px;
}
.header_group {
  padding-right: 120px;
  padding-top: 30px;
}

.header_poster {
  position: absolute;
  width: 741px;
  height: 537px;
  background-color: rgb(243, 240, 240);
  object-fit: cover;
  margin-top: 300px;
  margin-left: 63px;
}

.poster_content {
  margin-right: 175px;
  margin-left: 65px;
  margin-top: 100px;
  margin-bottom: 75px;
  text-align: left;
}

.poster_title {
  font-size: 39px;
  font-weight: bold;
  margin-bottom: 30px;
}
.colortext {
  color: #f78065;
}

.poster_text {
  font-size: 20px;
}

.btn_container {
  display: grid;
  grid-template-columns: 100px 150px;
  margin-top: 30px;
  margin-right: 255px;
  background-color: #f78065;
  line-height: 55px;
  text-align: center;
  align-items: center;
}

.btn_icon {
  margin-left: 60px;
  margin-top: 10px;
  justify-items: right;
}

.btn_text {
  margin-right: 85px;
  color: white;
  font-size: 18px;
  font-style: bold;
}

.vertical {
  margin-top: 400px;
}

.vertical_row {
  display: flex;
  margin: 0 -27.5px;
  justify-content: center;
}

.vertical_column {
  flex: 0 1 25%;
  margin-right: 30px;
  padding: 0 27.5px;
  display: flex;
}

.vertical_image {
  margin-bottom: 90px;
}

.vertical_title {
  margin-bottom: 20px;
  font-size: 24px;
  font-style: bold;
}

.text_1 {
  margin-bottom: 25px;
  font-size: 16px;
}

.text_2 {
  font-size: 18px;
  font-weight: bold;
  color: #f78065;
}

.columns {
  margin-top: 240px;
}

.columns_row {
  display: flex;
  margin: 0 -27.5px;
  justify-content: center;
}

.columns_column {
  flex: 0 1 18%;
  margin-right: 30px;
  padding: 0 27.5px;
  display: flex;
}

.columns_title {
  margin-bottom: 110px;
  font-size: 36px;
  font-weight: bold;
  margin-left: 27.5px;
}

.item_icon {
  margin-bottom: 70px;
}

.item_title {
  margin-bottom: 45px;
  font-size: 22px;
  font-weight: bold;
}

.item_text {
  margin-bottom: 30px;
  font-size: 14px;
}

.item_link {
  font-size: 18px;
  font-weight: bold;
  color: #f78065;
}

.join{
	margin-top: 260px;
}

.join_row {
  display: flex;
  margin: 0 -27.5px;
}

.join_column {
  flex: 0 1 230px;
  padding: 0 27.5px;
	display: flex;
}

.join_column_start{
  flex: 0 0 305px;
  padding: 0 27.5px;
	display: flex;
}

.join_btn{
	display: grid;
  grid-template-columns: 100px 150px;
  margin-top: 30px;
  margin-right: 255px;
  background-color: #f78065;
  line-height: 55px;
  text-align: center;
  align-items: center;
}

.join_btn_icon{
	margin-left: 75px;
}

.join_btn_text{
	justify-items: left;
	color:white;
	font-size: 18px;
	font-weight: bold;
	margin-right: 105px;
}

.title{
font-size: 36px;
font-weight: bold;
}

.text{
	font-size: 18px;
	opacity: 50%;
}

.join_title{
	font-size: 24px;
	font-weight: bold;
}

.join_text{
	font-size: 14px;
	margin-bottom: 15px;
}

.join_link{
	font-size: 18px;
	color:#f78065;
}

body {
  width: 1440px;
	margin-left: 30px;
}

